#projectsDisplay-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
}

#projectsDisplay-list > li {
  margin: 1rem;
  padding: 0.3rem;
  background-color: var(--light-color);
}

.projectsDisplay-image > img {
  height: 250px;
  width: 100%;
}

.projectsDisplay-content {
  padding: 1rem;
  text-align: center;
}

.projectsDisplay-content > div:not(:last-child) {
  margin-bottom: 0.5rem;
}

.projectsDisplay-name {
  font-size: 1.5rem;
  font-weight: bold;
}

.projectsDisplay-deployment-true {
  padding: 0.3rem 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--light-success-color);
  font-weight: 300;
  font-size: 0.9rem;
}

.projectsDisplay-deployment-false {
  padding: 0.3rem 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--light-error-color);
  font-weight: 300;
  font-size: 0.9rem;
}

.projectsDisplay-deployment-true > span,
.projectsDisplay-deployment-false > span {
  position: relative;
  top: 3px;
  left: 2px;
}

.projectsDisplay-about {
  font-size: 1.2rem;
  font-weight: 300;
}

.projectsDisplay-actions > a {
  display: inline-block;
  padding: 0.3rem 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--theme-color);
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
}

/* ----- Breakpoints ----- */
/* Medium screen devices (768px and above) */
@media only screen and (min-width: 768px) {
  #projectsDisplay-list > li {
    width: 40%;
  }
}
 
/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: 1200px) {
  #projectsDisplay-list > li {
    width: 30%;
  }
}
/* ----- /Breakpoints ----- */