#homepage {
  background-image: url("https://images.pexels.com/photos/1722183/pexels-photo-1722183.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

/* ------ Filter ----- */
#homepage-filter {
  height: 100%;
  background-color: var(--light-dark-color);
}

#homepage-filter > div {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Every other even element */
#homepage-filter > div:nth-child(even) {
  /* background-color: var(--light-color); */
  background-color: white;
}

/* Every other odd element */
#homepage-filter > div:nth-child(odd) {
  color: white;
}
/* ------ /Filter ----- */

/* ------ Profile ----- */
#homepage-profile {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#homepage-profile-img {
  margin: 1rem;
}

#homepage-profile-img > img {
  border-radius: 7rem;
}

#homepage-profile-info {
  margin: 1rem;
  list-style: none;
}

#homepage-profile-info > li {
  margin-bottom: 0.3rem;
}

.homepage-profile-name {
  font-size: 1.5rem;
  font-weight: bold;
}

.homepage-profile-degree,
.homepage-profile-education {
  font-size: 1.2rem;
  font-weight: 300;
}
/* ------ /Profile ----- */

/* ------ Projects ----- */
#homepage-projects {
  display: flex;
  flex-direction: column;
}

#homepage-projects > h1,
#homepage-projects > div {
  margin-bottom: 1rem;
}

#homepage-projects > a {
  padding: 0.3rem 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--theme-color);
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
}

.homepage-profiles-desc {
  padding: 0 2rem;
  font-size: 1.2rem;
  font-weight: 300;
  text-align: center;
}
/* ------ /Projects ----- */

/* ------ Contact ----- */
#homepage-contact {
  display: flex;
  flex-direction: column;
}

#homepage-contact > h1 {
  margin-bottom: 1rem;
}

#homepage-contact > ul {
  list-style: none;
}

#homepage-contact > ul > li {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 300;
}

#homepage-contact > ul > li > span {
  padding-right: 0.3rem;
}
/* ------ /Contact ----- */

/* ----- Breakpoints ----- */
/* Medium screen devices (768px and above) */
@media only screen and (min-width: 768px) {
  #homepage-profile {
    flex-direction: row;
  }
}
 
/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: 1200px) {
  #homepage-profile {
    flex-direction: row;
  }
}
/* ----- /Breakpoints ----- */