#homepage {
  background-image: url("https://images.pexels.com/photos/2004161/pexels-photo-2004161.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-size: cover;
  background-attachment: fixed;
}

#homepage-filter {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  height: 100%;
  background-color: var(--light-dark-color);
}

#homepage-filter > div {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Every other even element */
#homepage-filter > div:nth-child(even) {
  background-color: var(--light-color);
}

/* Every other odd element */
#homepage-filter > div:nth-child(odd) {
  color: white;
}

#homepage-profile-info {
  list-style: none;
}

#homepage-projects {
  display: flex;
  flex-direction: column;
}

#homepage-contact {
  display: flex;
  flex-direction: column;
}

#homepage-contact > h2 {
  margin-bottom: 1rem;
}

#homepage-contact > ul {
  list-style: none;
}